node_modules/
dist/


*.local
vite.svg

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env*.local

serviceAccountKey.json
jobs.json

.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Thumbs.db
ehthumbs.db

